
 .carIcon{
    position: relative;
    display: flex;
     justify-content: space-between;
     margin-top: -18%;
     margin-left: 5%;
     margin-right: 5%;
     font-size: 25px;
     color: #ccc;
     cursor: pointer;
     z-index: 3;
 }
 
 .NameCar{
    width: 100%;
     background: #222732;
     border-bottom-left-radius: 19px;
     border-bottom-right-radius: 19px;
     cursor: pointer;
     position: relative;
     margin-top: -10px;
     z-index: 3;
     line-height: 27px;
     &:hover{
       .ImgCar1{
          transform: scale(1.2);
       }
     }
 }
 .Name{
    font-size: 25px;
    padding: 23px 0 ;
    margin: 13px 41px;
    color: #fff;
    border-bottom: 1px solid #54595f;
    position: relative;
 }

 
 .listCar{
    display: flex;
    justify-content: space-between;
    color: #fff;
    min-height: 80px;
    align-items: center;
    margin: 0 42px;
 }
 .list{
    
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 13px;
    align-items: center;
 
 }
 .listItem{
    display: flex;
    width: 15%;
    height: 30px;
    background: #ff4605;
    align-items: center;
    border-radius: 7px;
    justify-content: center;
    cursor: pointer;
 }
 .price{
    font-size: 28px;
    margin-bottom: 13px;
    color: #fff;
 }
 .Menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
 }
 .MenuItem{
    width: calc(44% + 56%);
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0px 2% 13px;
 }
 .img{
   width: 100%;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    cursor: pointer;
}
 .ImgCar2{
    width: 100%;
    height:145px;
     border-top-left-radius: 19px;
     border-top-right-radius: 19px;
     transition: transform 0.7s ease-out;
     &:hover{
       transform: scale(1.2);
       border-top-left-radius: 19px;
     border-top-right-radius: 19px;
 }
 }
 .Name1{
   width:73%;
    font-size: 19px;
    padding: 13px 1px 5px;
     margin: 10px 24px 0;
     color: #fff;
     /* border-bottom: 1px solid #fff; */
     position: relative;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }
 .price1{
    font-size: 25px;
     margin-left: 8%;
     padding: 0 0 14px;
     margin-bottom: 7px;
     border-bottom: 1px solid #54595f;
     width: 85%;
    color: #fff;
 }
 .listCar1{
    color: #fff;
    min-height: 45px;
    margin: 0 24px;
    display: flex;
    align-items: center;
    width: 100%;
 }
 .list1{
    display: flex;
     /* margin-bottom: 13px; */
     align-items: center;
     width: 100%;
     padding: 14px;
     margin-left: -30px;
     justify-content: space-evenly;
 }
 .listItem2{
    display: flex;
    width: 22%;
    height: 30px;
    background: #ff4605;
    align-items: center;
    border-radius: 7px;
    justify-content: center;
    cursor: pointer;
 }
 
 .Fotter{
    width: 100%;
     min-height: 65px;
     padding: 18px 54px 18px 37px;
     display: flex;
     justify-content: space-between;
     margin: 20px 0;
 }
 .fotterCar{
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
 }
 .Icon{
    background:#eff0f1;
    width: 40px;
     display: flex;
     height: 40px;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
     cursor: pointer;
 
    &:hover{
     background: #ebebeb;
     color: #000;
     }
 }
 .icon1{
    display:flex;
 }
 .footerButton{
    width: 115px;
     display: flex;
     height: 43px;
     background: #ff4605;
     align-items: center;
     justify-content: space-around;
     overflow: hidden;
     border-radius: 10px;
     color: #fff;
     cursor: pointer;
      position: relative;
  
 }
 .footerButton::before{
    content: '';
   position: absolute;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.2);
   transform: translateX(0);
   transition: transform 0.3s ease;
 }
 .footerButton:hover::before{
    transform: translateX(100%);
 }