.Wrapper{
    width: 100%;
    height: 100%;
 }
 .headerContent{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 49px;
 }
 .NameContent{
    font-size: 40px;
     font-weight: 700;
 }
 .btnheader{
    width: 50%;
    display: flex;
    justify-content: space-between;
 }
 .btn{
   width: 30%;
    height: 58px;
    /* border: 1px solid; */
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 3%;
    cursor: pointer;
    &.active{
      border: 1px solid #ff4605;
      background: #fff0eb;
      color: #ff4605;
   }
 }
 .btnList{
    font-size: 15px !important;
    font-weight: 100;
    opacity: 0.8;
 
 }

.MenuContent{
   display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 2%;
    flex-shrink: unset;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}
.footerContent{
   width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-between;
    padding: 24px 51px;
    align-items: center;
}
.icon{
   display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
}
.iconLeft{
   display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   width: 40%;
   height: 50px;
   border-radius: 50%;
   cursor: pointer;
   font-size: 41px;
    opacity: 0.7;
    background: #fff;
}
.footerButton{
   width: 115px;
    display: flex;
    height: 43px;
    background: #ff4605;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
     position: relative;
 
}
.footerButton::before{
   content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(0);
  transition: transform 0.3s ease;
}
.footerButton:hover::before{
   transform: translateX(100%);
}