.wrapper{
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 4;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{

}
.imgLogo{
    width: 85%;
    height: 35px;
}
.header-menu{
    display: flex;
    width: 45%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
.menuItem{

}
.Home{
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;

    &:hover{
        color: #ff4605 !important;
    }
}
.down{
    margin: -2px 6px;
    fill: #fff;
    font-weight: 600;
}

.MenuLogin{
    display: flex;
    width: 25%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}
.logoUse{
    margin: -2px 0;
    fill: #ff4605;
}
.line{
    display: inline-block;
    height: 18px;
    width: 1px;
    top: 2px;
    position: relative;
    background: #50514f;
}
.logoAdd{
    fill: #fff;
}
.AddListing{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff !important;
    border: 1px solid #ff4605;
    border-radius: 10px;
    
    &:hover{
        background-color:#ff4605 !important;
    }
}

//Tippy
.TippyWrapper{
    width: 240px;
    min-height: 205px;
    border-radius: 10px;
    background-color: #fff;
    margin-left:56% ;
}
.TippyContainer{
   width:100%;
   height: 100%;
}

.TippyMenu{
    width: 80%;
    height: 52px;
    padding: 15px 9px;
    border-bottom: 1px solid #e9eaee;
    margin-left: 10%;
    display: flex;
    align-items: center;
}
.Menu{

    &:hover{
        color: #ff4605;
    }
}